<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <title>Party list</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Spotify Party App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="d-grid gap-2 col-6 mx-auto" th:each="party: ${parties}">
    <a role="button" class="btn btn-success btn-lg" th:text="${party.name}"></a><br><br>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a role="button" class="btn btn-outline-success" href="/party-add">Dodaj imprezę</a>
</div>
</body>
</html>