<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <title>Party details - tracks</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Spotify Party App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown" float-right>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<a th:href="@{/party-details/{id}(id = ${tracks.get(0).playlist.party.id})}"><span th:text="${tracks.get(0).playlist.party.name}"></span></a> => <span th:text="${tracks.get(0).playlist.name}"></span>

<!-- Lista na sztywno, żeby pokazać wygląd. Poniżej zakomentowany jest kod z pętlą, która wyświetli wszystkie dostępne playlisty -->
<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start" th:each="track: ${tracks}">
        <div class="ms-2 me-auto">
            <div class="fw-bold" th:text="${track.name}"></div>
        </div>
        <span class="badge bg-primary rounded-pill" th:text="${track.durationMs}"></span>
    </li>
</ol>

</body>
</html>