<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>
    <title>Party details - tracks</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Spotify Party</a>


        <a th:href="@{/party-details/{id}(id = ${tracks.get(0).playlist.party.id})}"><span
                th:text="${tracks.get(0).playlist.party.name}"></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-secondary"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown" float-right>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>

    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start" th:each="track: ${tracks}">
            <div class="ms-2 me-auto">
                <div class="fw-normal track-name" th:text="${track.name}"></div>
            </div>

<!--            jeśli aktywny-->
            <a th:if="${track.isActive}" class="play-button" th:href="@{/party-details/{id}/play/{uri}(id = ${track.playlist.id}, uri = ${track.uri})}"><svg height="28" role="img" width="28" viewBox="0 0 24 24" aria-hidden="true"><polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon></svg></a>

<!--            jeśli nieaktywny to najpierw odblokuj-->
            <a th:unless="${track.isActive}" class="padlock-button" th:href="@{/party-details/{id}/unlock/{uri}(id = ${track.playlist.id}, uri = ${track.uri})}">
                <img th:src="@{/images/padlock.png}" alt="zablokowane" width="28px" />
            </a>
        </li>
    </ol>

</main>
</body>
</html>