<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Poniżej link do CSSa, który jest wymagany w przypadku pobierania kodu z getbootstrap.com -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
    <title>Playlists</title>
</head>
<body>

<!-- Lista na sztywno, żeby pokazać wygląd. Poniżej zakomentowany jest kod z pętlą, która wyświetli wszystkie dostępne playlisty -->
<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Nazwa playlisty</div>
            Lista trzech pierwszych piosenek z playlisty lub krótki opis
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Nazwa playlisty</div>
            Lista trzech pierwszych piosenek z playlisty lub krótki opis
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Nazwa playlisty</div>
            Lista trzech pierwszych piosenek z playlisty lub krótki opis
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
    </li>
</ol>


<!--<ol class="list-group list-group-numbered">-->
<!--    <li class="list-group-item d-flex justify-content-between align-items-start" th:each="playlist:${playlists}">-->
<!--        <div class="ms-2 me-auto">-->
<!--            <div class="fw-bold" th:text="${playlist.name}"></div>-->
<!--            &lt;!&ndash; Miejsce na np. pokazanie pierwszych trzech piosenek z playlisty lub krótki opis &ndash;&gt;-->
<!--        </div>-->
<!--        <span class="badge bg-primary rounded-pill">14</span> &lt;!&ndash; Miejsce na pokazanie, ile piosenek znajduje się na playliście &ndash;&gt;-->
<!--    </li>-->
<!--</ol>-->

</body>
</html>